$iconWith: 44px;

/* utools */

.tag {
  // padding: 0 10px;
  // border-radius: 400px;
  position: absolute;
  top: 10px;
  // background-color: rgb(224, 224, 224);
  height: calc(var(--main-input-height) - 20px);
  width: 38px;
  // font-size: 22px;
  cursor: pointer;

  img {
    max-width: calc(var(--main-input-height) - 18px);
  }
}

.subInput {
  height: var(--main-input-height);
  line-height: var(--main-input-height);
  color: var(--main-font-color);
  font-family: var(--main-font);
  font-size: 1.3em;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  white-space: nowrap;
  /* cursor: default; */
  -webkit-app-region: no-drag;
  user-select: none;
  position: relative;
  margin-left: #{$iconWith};
  z-index: 1;
  &::-webkit-input-placeholder {
    color: #aaa;
    user-select: none;
  }
}

.drag_layer {
  position: absolute;
  top: 0;
  height: var(--main-input-height);
  left: calc(#{$iconWith} + 12px);
  z-index: 2;
  width: 100vw;
}
