/* utools */

.tag {
  // background-color: rgb(224, 224, 224);
  height: calc(var(--main-input-height) - 20px);
  // padding: 0 10px;
  // border-radius: 400px;
  position: absolute;
  top: 10px;
  // font-size: 22px;
  cursor: pointer;

  img {
    max-width: calc(var(--main-input-height) - 18px);
  }
}
